@import "base/colors";
@import "base/variables";

@import "layout/grid";
@import "/grid";

body {
  background-color: green;
}

a {
  color: blue;
}

select {
  appearance: none;
  font-size: 14 px;
}